examples/ca-retrieval-flow.json
[
  {
    "id": "d182328ed09516b2",
    "type": "tab",
    "label": "Flow 3",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "7e8b97171c0a3a1b",
    "type": "inject",
    "z": "d182328ed09516b2",
    "name": "Get CA Certs",
    "props": [
      {
        "p": "estUrl",
        "v": "https://localhost/.well-known/est/arburg/cacerts/",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 690,
    "y": 700,
    "wires": [
      [
        "6e7ccfc4cff41c64"
      ]
    ]
  },
  {
    "id": "6e7ccfc4cff41c64",
    "type": "trustpoint-cacerts",
    "z": "d182328ed09516b2",
    "name": "Get CA Certs",
    "estUrl": "",
    "x": 870,
    "y": 700,
    "wires": [
      [
        "5a26165e84b43ac1"
      ]
    ]
  },
  {
    "id": "b382886e0db21a9a",
    "type": "debug",
    "z": "d182328ed09516b2",
    "name": "Debug Store CA Certs",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1430,
    "y": 700,
    "wires": []
  },
  {
    "id": "0eb40237f73893a0",
    "type": "trustpoint-store",
    "z": "d182328ed09516b2",
    "name": "Store CA Certs",
    "operation": "store",
    "location": "file",
    "contextScope": "flow",
    "format": "pem",
    "key": "",
    "filePath": "/tmp/ca-certs.pem",
    "x": 1200,
    "y": 700,
    "wires": [
      [
        "b382886e0db21a9a"
      ]
    ]
  },
  {
    "id": "5a26165e84b43ac1",
    "type": "change",
    "z": "d182328ed09516b2",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "filePath",
        "pt": "msg",
        "to": "/Users/ibrahimsambare/.node-red/certs/ca-certs.p7b",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1020,
    "y": 640,
    "wires": [
      [
        "0eb40237f73893a0"
      ]
    ]
  }
]