examples/device-reenrollment-flow.json
[
  {
    "id": "06986ef8cc5dfad0",
    "type": "tab",
    "label": "device-reenrollment",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "6330186ae764a191",
    "type": "inject",
    "z": "06986ef8cc5dfad0",
    "name": "Start Reenroll",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 350,
    "y": 480,
    "wires": [
      [
        "1dd01a552edb0cbb",
        "63489a38a89afdc3"
      ]
    ]
  },
  {
    "id": "1dd01a552edb0cbb",
    "type": "file in",
    "z": "06986ef8cc5dfad0",
    "name": "Read Test-3-key.pem",
    "filename": "/Users/ibrahimsambare/.node-red/keys/Test-3-key.pem",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "x": 560,
    "y": 420,
    "wires": [
      [
        "68ab4395dc716ad8"
      ]
    ]
  },
  {
    "id": "216e88d1efbc6c14",
    "type": "trustpoint-create-csr",
    "z": "06986ef8cc5dfad0",
    "name": "Create CSR (Reenroll)",
    "x": 920,
    "y": 420,
    "wires": [
      [
        "08a881f160f4a952"
      ]
    ]
  },
  {
    "id": "63489a38a89afdc3",
    "type": "file in",
    "z": "06986ef8cc5dfad0",
    "name": "Read Test-3-cert-converted.pem",
    "filename": "/Users/ibrahimsambare/.node-red/certifications/Test-3-cert-converted.pem",
    "filenameType": "str",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "allProps": false,
    "x": 600,
    "y": 540,
    "wires": [
      [
        "bc2ae61a61672f65"
      ]
    ]
  },
  {
    "id": "08a881f160f4a952",
    "type": "join",
    "z": "06986ef8cc5dfad0",
    "name": "Join CSR + CERT",
    "mode": "manual",
    "build": "object",
    "property": "payload",
    "propertyType": "msg",
    "key": "part",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "",
    "count": "2",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 1150,
    "y": 480,
    "wires": [
      [
        "d8a4b0f941292139"
      ]
    ]
  },
  {
    "id": "d8a4b0f941292139",
    "type": "function",
    "z": "06986ef8cc5dfad0",
    "name": "Prepare Reenroll payload",
    "func": "msg.payload = {\n    estBaseUrl: \"https://localhost/.well-known/est/arburg/domaincredential/simplereenroll/\",\n    csr: msg.payload.csr.csrDer,\n    key: msg.payload.csr.key,\n    cert: msg.payload.cert\n};\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1390,
    "y": 480,
    "wires": [
      [
        "c45b0518189db378",
        "d4d0047436b84edd"
      ]
    ]
  },
  {
    "id": "d4d0047436b84edd",
    "type": "trustpoint-simplereenroll",
    "z": "06986ef8cc5dfad0",
    "name": "Reenroll DomainCredential",
    "x": 1660,
    "y": 480,
    "wires": [
      [
        "a7e49244189ebff9"
      ]
    ]
  },
  {
    "id": "a7e49244189ebff9",
    "type": "debug",
    "z": "06986ef8cc5dfad0",
    "name": "Debug Reenroll result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 1920,
    "y": 480,
    "wires": []
  },
  {
    "id": "c45b0518189db378",
    "type": "debug",
    "z": "06986ef8cc5dfad0",
    "name": "debug 8",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1580,
    "y": 560,
    "wires": []
  },
  {
    "id": "68ab4395dc716ad8",
    "type": "function",
    "z": "06986ef8cc5dfad0",
    "name": "function 4",
    "func": "msg.payload = {\n    privateKey: msg.payload,\n    key: msg.payload\n};\nmsg.part = \"csr\";\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 740,
    "y": 420,
    "wires": [
      [
        "216e88d1efbc6c14"
      ]
    ]
  },
  {
    "id": "bc2ae61a61672f65",
    "type": "function",
    "z": "06986ef8cc5dfad0",
    "name": "function 6",
    "func": "msg.payload = msg.payload;\nmsg.part = \"cert\";\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 840,
    "y": 540,
    "wires": [
      [
        "08a881f160f4a952"
      ]
    ]
  }
]