examples/example-reenrol-device.json
[
    {
        "id": "ec6fd9a21020733d",
        "type": "ui_form",
        "z": "fc669d4eef925a6b",
        "name": "Start Provisioning Form Reenrollment",
        "label": "Reprovision a Device",
        "group": "018b664f4db43267",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Device ID",
                "value": "deviceId",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Username",
                "value": "estUsername",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "estPassword",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "deviceId": "",
            "estUsername": "",
            "estPassword": ""
        },
        "payload": "",
        "submit": "Start Provisioning",
        "cancel": "Cancel",
        "topic": "",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "x": 270,
        "y": 1720,
        "wires": [
            [
                "dfe15302592d8726"
            ]
        ]
    },
    {
        "id": "dfe15302592d8726",
        "type": "trustpoint-keygen",
        "z": "fc669d4eef925a6b",
        "name": "Generate Keys",
        "algorithm": "RSA",
        "keySize": "2048",
        "persist": false,
        "filenamePrefix": "",
        "filenamePrefix_fieldType": "str",
        "x": 200,
        "y": 1780,
        "wires": [
            [
                "f65b8c983af2f620"
            ]
        ]
    },
    {
        "id": "ed53ce1007ceb24d",
        "type": "trustpoint-create-csr",
        "z": "fc669d4eef925a6b",
        "name": "Create CSR",
        "privateKey": "",
        "privateKey_fieldType": "str",
        "cn": "",
        "o": "",
        "ou": "",
        "san": "",
        "x": 190,
        "y": 1960,
        "wires": [
            [
                "fcabd74c8055e95b"
            ]
        ]
    },
    {
        "id": "fcabd74c8055e95b",
        "type": "trustpoint-build-enroll-payload",
        "z": "fc669d4eef925a6b",
        "name": "Build ReEnroll Payload",
        "x": 220,
        "y": 2020,
        "wires": [
            [
                "3ed9ae1801020f67"
            ]
        ]
    },
    {
        "id": "f65b8c983af2f620",
        "type": "trustpoint-prepare-keystore",
        "z": "fc669d4eef925a6b",
        "name": "Prepare Keystore",
        "x": 210,
        "y": 1840,
        "wires": [
            [
                "db050ccc2d23b595"
            ]
        ]
    },
    {
        "id": "db050ccc2d23b595",
        "type": "trustpoint-store-key",
        "z": "fc669d4eef925a6b",
        "name": "",
        "filePath": "/home/pi/.node-red/keys",
        "filePathType": "str",
        "x": 180,
        "y": 1900,
        "wires": [
            [
                "ed53ce1007ceb24d"
            ]
        ]
    },
    {
        "id": "3ed9ae1801020f67",
        "type": "trustpoint-simpleenroll",
        "z": "fc669d4eef925a6b",
        "name": "Reenroll Device",
        "estHost": "https://127.0.0.1:443/.well-known/est/arburg/domaincredential/simpleenroll/",
        "useBasic": false,
        "username": "",
        "password": "",
        "useMtls": false,
        "clientCert": "",
        "clientKey": "",
        "rejectUnauthorized": false,
        "x": 200,
        "y": 2080,
        "wires": [
            [
                "4ae68266f236375d",
                "5d84371a05755e74"
            ]
        ]
    },
    {
        "id": "5d84371a05755e74",
        "type": "debug",
        "z": "fc669d4eef925a6b",
        "name": "ReEnrollment Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 2080,
        "wires": []
    },
    {
        "id": "018b664f4db43267",
        "type": "ui_group",
        "name": "Reenroll Device",
        "tab": "3920990baa0e59a3",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3920990baa0e59a3",
        "type": "ui_tab",
        "name": "Reenrollment",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    }
]
